DATABASE_URL=postgresql://postgres:%40Muslim.888.@db.mpqmjykmbfbeywncnyyv.supabase.co:5432/postgres

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

JWT_SECRET=healthcoin_super_secret_123456789
JWT_EXPIRES_IN=2h
JWT_REFRESH_SECRET=healthcoin_refresh_secret_987654321
JWT_REFRESH_EXPIRES_IN=7d

NEXT_PUBLIC_SUPABASE_URL=https://mpqmjykmbfbeywncnyyv.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_Qogwdj7HBZ3Jme0v2NS-bQ_QJX2EoBI

NODE_ENV=production
PORT=3000
APP_URL=https://healthcoin-api.up.railway.app
CORS_ORIGINS=http://localhost:5173,http://localhost:5174

ALIYUN_ACCESS_KEY_ID=
ALIYUN_ACCESS_KEY_SECRET=
ALIYUN_SMS_SIGN_NAME=
ALIYUN_SMS_TEMPLATE_CODE=

OSS_REGION=oss-cn-hangzhou
OSS_ACCESS_KEY_ID=
OSS_ACCESS_KEY_SECRET=
OSS_BUCKET=healthcoin-files
OSS_ENDPOINT=https://oss-cn-hangzhou.aliyuncs.com

FUIOU_MERCHANT_NO=
FUIOU_API_KEY=
FUIOU_GATEWAY_URL=https://pay.fuiou.com